@import url('./base.css');

html, body {
	margin: 0;
}

body {
	width: 100vw;
	height: auto;
	min-height: 100svh;
	background-color: var(--md-sys-color-surface);
	color: var(--md-sys-color-on-surface);
	font-family: 'Google Sans Flex', system-ui;
	word-wrap: break-word;
}

#app {
	width: 100%;
	height: 100%;
}

::-webkit-scrollbar {
	display: none;
}